.container {
  width: 550px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
h2 {
  text-align: center;
  margin-bottom: 25px;
}
p {
  text-align: center;
  margin-bottom: 25px;
}
/* Two column layout */
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
}

/* Common Field Styling */
input,
select,
textarea {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.4);
}

/* Address full width */
textarea {
  min-height: 90px;
  resize: vertical;
  margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }
}
button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0, 114, 255, 0.3);
}
